.background{
    background-color: bisque;
height: 100vh;
    width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-image: url('ghj.avif');
background-size: cover;
background-position: center;
}
.box{
width:  15%;
border: 3px solid rgb(54, 53, 53);                     
padding: 70px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
border-radius: 15px;
background-image: linear-gradient(rgb(0, 0, 0),rgb(32, 32, 32),rgb(3, 3, 3));



}
.image{
    margin-bottom: 30px;
display: flex;
height: 100px;
width: 100px;
justify-content: center;
}
.bt{
    display: flex;
    margin-top: 20px;
    color: black;
    border: 1px solid red;
}
.pt{
    color:violet;}
.jt{
    color: violet;
}
.navbar
{
  
        display: flex;
        justify-content: space-between;
      background-image: linear-gradient(black,rgb(48, 48, 48));
       
        padding: 5px;
        color: rgb(255, 0, 0);
        height: 80px;
      

}
.quiet
{

    display: flex;
flex-direction: row;
align-items: center;
color: rgb(10, 116, 45);

}
.searchbar
{
margin-right: 30px;
padding: 10px;
border-radius: 30px;
width: 30vw;
size: 15px;
color: red;
height: 25px;
margin-top: 12px;
border: 1px solid red;
align-items: center;


}.image
{
display: flex;
size: 15px;
margin-bottom: 10px;


}
.y{
    margin-right: 150px;
    color: cornflowerblue;
}.z{
    margin-right: 150px;
    color: cornflowerblue;
}
.t{
    margin-right:150px ;
    color: cornflowerblue;
}
.bella{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(255, 237, 237);
    width: 300px;
    object-fit: cover;
    justify-content: space-around;
    margin-top: 45px;
}
#cards{
    margin-left: 40px;
    margin-top: 60px;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;

}
.img1{
    height: 190px;
    width: 160px;
    padding: 35px;
}
#colors{
    display: flex;
    margin-bottom: 20px;
    
}
.d1{
width: 25px;
height: 25px;
border: 1px solid black;
border-radius: 50%;
background-color: rgb(179, 84, 32);
margin: 5px;
}
.d2{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: rgba(16, 190, 190, 0.888);
    margin: 5px;
    }
    .d3{
        width: 25px;
        height: 25px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgb(81, 9, 50);
        margin: 5px;
        }
        .bella:hover{
            background-color:rgb(4, 61, 18);
            transition: 0.3s ease-out;
            transform: scale(1.1);
        }
        body{
            background-color:rgb(42, 32, 42);
        }